html {
  scroll-behavior: smooth; 
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  border: 3px solid black;
  height: 50px;
}

.main {
  border: 3px solid green;
  height: 50px;
}

.footer {
  border: 3px solid brown;
  height: 50px;
}

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
  }

  .nav-link {
    border: 1px solid green;
    padding: 0 20px;
    line-height: 50px;
    font-weight: normal;
    color: black;
    text-decoration: none; 
  }

   .nav-link:hover {
    font-weight: bold;
  }